@import "tailwindcss";
@source "app.html";

@plugin '@tailwindcss/forms' {
	strategy: "class";
}
@plugin '@tailwindcss/typography';

@theme {
	--font-fira:
		Fira Code Variable, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--color-primary: #181617;
	--color-green: #6dd743;
	--color-green2: #8cc63f;
	--color-green_linear1: #a8e063;
	--color-green_linear2: #56ab2f;
}

@layer base {
	@font-face {
		font-family: "Fira Code Variable";
		font-style: normal;
		font-display: swap;
		font-weight: 300 700;
		src: url(@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2)
			format("woff2-variations");
		unicode-range:
			U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
}
